{{#operations}}{{#operation}}{
    "testSteps" : [{{^hasConsumes}}{{#responses}}
        {
            "type": "REST Request",
            "method": "{{httpMethod}}",
            "URI": "{{basePath}}{{path}}"{{#hasBodyParam}},
            "requestBody":""{{/hasBodyParam}}{{#hasQueryParams}},
            "parameters": [{{#queryParams}}
                {
                "name": "{{baseName}}",
                "value": "{{defaultValue}}"
                }{{#hasMore}},{{/hasMore}}{{/queryParams}}
            ]{{/hasQueryParams}}{{#hasHeaderParams}},
            "headers": [{{#headerParams}}
                {
                "name": "{{baseName}}",
                "value": "{{defaultValue}}"
                }{{#hasMore}},{{/hasMore}}{{/headerParams}}
            ]{{/hasHeaderParams}},
            "assertions": [
                {
                    "type": "Valid HTTP Status Codes",
                    "validStatusCodes": [{{code}}]
                }
            ]
        }{{#hasMore}},{{/hasMore}}{{/responses}}{{/hasConsumes}}{{#consumes}}{{#responses}}
        {
            "type": "REST Request",
            "method": "{{httpMethod}}",
            "URI": "{{basePath}}{{path}}",
            "mediaType": "{{mediaType}}"{{#hasBodyParam}},
            "requestBody":""{{/hasBodyParam}}{{#hasQueryParams}},
            "parameters": [{{#queryParams}}
                {
                "name": "{{baseName}}",
                "value": "{{defaultValue}}"
                }{{#hasMore}},{{/hasMore}}{{/queryParams}}
            ]{{/hasQueryParams}}{{#hasHeaderParams}},
            "headers": [{{#headerParams}}
                {
                "name": "{{baseName}}",
                "value": "{{defaultValue}}"
                }{{#hasMore}},{{/hasMore}}{{/headerParams}}
            ]{{/hasHeaderParams}},
            "assertions": [
                {
                    "type": "Valid HTTP Status Codes",
                    "validStatusCodes": [{{code}}]
                }
            ]
        }{{#hasMore}},{{/hasMore}}{{/responses}}{{#hasMore}},{{/hasMore}}{{/consumes}}
    ]
}
{{/operation}}{{/operations}}